# Chapter 08 클래스

In [ ]:
객체
추상화: 프로그램에서 필요한 요소만을 사용해서 객체를 표현하는 것.

In [ ]:
#딕셔너리로 객체 만들기

# 학생 리스트를 선언합니다.

students = [{"name": "윤인성", "korean": 87, "math": 98, "english":88, "science": 95}, 
            {"name": "연하진", "korean": 92, "math": 98, "english":96, "science": 98}, 
            {"name": "구지연", "korean": 92, "math": 98, "english":96, "science": 98}, 
            {"name": "나선주", "korean": 92, "math": 98, "english":96, "science": 98},
            {"name": "윤아린", "korean": 92, "math": 98, "english":96, "science": 98},
            {"name": "윤명월", "korean": 92, "math": 98, "english":96, "science": 98}]

# 학생을 한명씩 반복합니다.

print("이름", "총점", "평균", sep="\t")
for student in students:
    score_sum = student["korean"] + student["math"] + student["english"] + student["science"]

    score_average = score_sum / 4

    print(student["name"], score_sum, score_average, sep="\t")

이름	총점	평균
윤인성	368	92.0
연하진	384	96.0
구지연	384	96.0
나선주	384	96.0
윤아린	384	96.0
윤명월	384	96.0

In [ ]:
# 객체를 만드는 함수(1)

def create_student(name, korean, math, english, science):
    return {"name": name, "korean": korean, "math": math, "english": english, "science": science }

students = [create_student("윤인성", 87, 98, 88, 95),
            create_student("연하진", 87, 98, 88, 95),
            create_student("구지연", 87, 98, 88, 95),
            create_student("나선주", 87, 98, 88, 95),
            create_student("윤아린", 87, 98, 88, 95),
            create_student("윤명월", 87, 98, 88, 95),
            ]

In [ ]:
# 클래스가 필요한 이유 : 힌트는 객체지향
# 객체를 만드는 함수(2)

def create_student(name, korean, math, english, science):
    return {"name": name, "korean": korean, "math": math, "english": english, "science": science }

def student_get_sum(student):
    return student["korean"] + student["math"] + student["english"] + student["science"]

def student_get_average(student):
    return student_get_sum(student)/4

def student_to_string(student):
    return "{}\t{}\t{}".format(student["name"], student_get_sum(student), student_get_average(student))


students = [create_student("윤인성", 87, 98, 88, 95),
            create_student("연하진", 87, 98, 88, 95),
            create_student("구지연", 87, 98, 88, 95),
            create_student("나선주", 87, 98, 88, 95),
            create_student("윤아린", 87, 98, 88, 95),
            create_student("윤명월", 87, 98, 88, 95),
            ]


print("이름", "총점", "평균", sep="\t")
for student in students:
    print(student_to_string(student))

이름	총점	평균
윤인성	368	92.0
연하진	368	92.0
구지연	368	92.0
나선주	368	92.0
윤아린	368	92.0
윤명월	368	92.0

In [ ]:
# 클래스 선언하기
class Student:
    pass

student = student()

student = [Student(),
           Student(),
           Student(),
           Student(),
           Student(),
           Student()]

In [ ]:
# 생성자 개념

class Student:
    def __init__(self, name, korean, math, english, science):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science

students = [Student("윤인성", 87, 98, 88, 95),
            Student("연하진", 87, 98, 88, 95),
            Student("구지연", 87, 98, 88, 95),
            Student("나선주", 87, 98, 88, 95),
            Student("윤아린", 87, 98, 88, 95),
            Student("윤명월", 87, 98, 88, 95),
            ]

students[0].name
students[0].korean
students[0].math
students[0].english
students[0].science

95

In [ ]:
# 클래스 내부에 함수(메소트) 선언하기
class Student:
    def __init__(self, name, korean, math, english, science):
        self.name = name
        self.korean = korean
        self.math = math
        self.englsih = english
        self.science = science

    def get_sum(self):
        return self.korean + self.math + self.englsih + self.science

    def get_average(self):
        return self.get_sum() / 4

    def to_string(self):
        return "{}\t{}\t{}".format(self.name, self.get_sum(), self.get_average())  # 중요개념 student["name"] == self.name


students = [Student("윤인성", 87, 98, 88, 95),
            Student("연하진", 87, 98, 88, 95),
            Student("구지연", 87, 98, 88, 95),
            Student("나선주", 87, 98, 88, 95),
            Student("윤아린", 87, 98, 88, 95),
            Student("윤명월", 87, 98, 88, 95),
            ]



print("이름", "총점", "평균", sep="\t")
for student in students:
    print(student.to_string())

이름	총점	평균
윤인성	368	92.0
연하진	368	92.0
구지연	368	92.0
나선주	368	92.0
윤아린	368	92.0
윤명월	368	92.0

In [ ]:
# 소멸자

class Test:
    def __init__(self, name):
        self.name = name
        print("{} - 생성되었습니다.". format(self.name))
    def __del__(self):
        print("{} - 파괴되었습니다.". format(self.name))
    
test = Test("A")

A - 생성되었습니다.

In [ ]:
# 어떤 클래스의 인스턴스인지 확인하기

class Student:
    def __init__(self):
        pass

student = Student()

print("isinstance(student, Student):", isinstance(student, Student))

# student는 Student 클래스를 기반으로 만들었으므로 True를 출력한다.

isinstance(student, Student): True

In [ ]:
# 단순한 인스턴스 확인

type(student) == Student

True

In [ ]:
# isinstance() 함수와 type() 함수로 확인하는 것의 차이

class Human:
    def __init__(self):
        pass
    
class Student(Human):
    def __init__(self):
        pass

student = Student()

print("isinstance(student, Human):", isinstance(student, Human))
print("type(student) == Human:", type(student) == Human)

# type() 함수는 상속관계를 확인하지 못한다.

isinstance(student, Human): True
type(student) == Human: False

In [1]:
# isinstance()함수 활용

class Student:
    def study(self):
        print("공부를 합니다.")

# 선생님 클래스를 선언합니다.

class Teacher:
    def teach(self):
        print("학생을 가르칩니다.")


# 교실 내부의 객체 리스트를 생성합니다.

classroom = [Student(), Student(), Teacher(), Student(), Student()]

# 반복을 적용해서 적절한 함수를 호출하게 합니다.

for person in classroom:
    if isinstance(person, Student):
        person.study()

    elif isinstance(person, Teacher):
        person.teach()

공부를 합니다.
공부를 합니다.
학생을 가르칩니다.
공부를 합니다.
공부를 합니다.