In [ ]:
# 복잡도

In [ ]:
# # 덧셈 횟수: 1번
# x = 10
# print(x+1)

11

In [ ]:
# #덧셈횟수: n번
# A = [1,2]
# output8=5  # 초기값은 안변하고, 변수에만 저장되는 것이네 ~~~ 이제 드디어 알았다.
# for a in A:
#   output8 = output8 + a
#   print(output8) # print 위치에 따라 결과도출이 다르다.

6
8

In [ ]:
# 빅오 표기법으로 알고리즘과 데이터수에 따라 처리속도가 결정된다.
# 컴퓨터는 계산기하는 기계이다.
# 함수는 서브프로그램, 서브루틴, 절차(procedure), 방법(method)에서 왔다.
# 매개변수(parameter)
# 절차(procedure)

# 05-1 함수 만들기

In [ ]:
#f(x)= x^2 + 2x + 1
output = 0 # 이거는 외부의 결과라는 의미 그러니깐 결과 저장의 의미랑 같네 내 생각이 맞다,
def f(x):   # global 키워드는 위험하다. 왜? 저장하는 과정에서 버그가 생기기 때문에
  output = x ** 2 + 2 * x + 1 

f(10)
print(output) # 파이썬에서 이거는 허용이 안되서 실행값이 적용이 안됨

In [ ]:
코드 전체: 프로그램, 루틴, 프로시저, 메서드
작은 코드: 서브프로그램, 서브루틴, 프로시저, 메서드
매개변수를 갖는 서브프로그램/서브루틴: 프로시저
리턴값을 갖는 프로시저: 함수
클래스 내부에 있는 함수: 메서드
ADA(옛날 언어) : 프로시저 문법과 함수문법이 완전히 분리!
현대적인 프로그래밍 언어: 함수로 통합!
파이썬 : 함수로 통합!

def
return

In [ ]:
def print_3_times():
  print("안녕하세요")
  print("안녕하세요")
  print("안녕하세요")

print_3_times()

In [ ]:
def print_n_times(value,n):  # 코드실행 2번
  for i in range(n):  # 아래 코드하고 관련이 없는데 어떻게 세번 출력이될까?
    print(value,i)
print_n_times("안녕하세요", 3)  # 함수호출 시작이 코드 실행 1번

In [ ]:
# 가변 매개변수 함수
def print_n_times(n, *values):
  for i in range(n): # n번 반복합니다.
    for value in values:  # values는 리스트처럼 활용합니다. 
      print(value)
    print() # 단순한 줄바꿈

print_n_times(3,"안녕", "","","","") 

# 문자열목록 = ["안녕", "하세요"] 꼭 기억하기
#print_n_times(2, *문자열목록)  # 이렇게도 쓸수 있다. 꼭 기억하기
# 가변매개변수는 출력값이 리스트로 출력이 된다.

In [ ]:
#여러 함수 호출 형태
def test(*a, b=10,c=100):  # 가변매개변수는 오로지 문자열만 가능하다.
  print(a + b + c)

test(10000, 20000 ,30)  # 가변매개변수는 오로지 문자열만 가능하다.

In [ ]:
print("djkdl", "djksd", end = "\n", sep=":;;") # 키워드 매개변수 끼리는 자리 바꿔도 상관없다.

In [ ]:
# 정리

가변변수 기본변수 (x)
가변변수 키워드변수 (o)
키워드변수 가변변수 (x)
기본변수 가변변수(o)

In [ ]:
# 딕셔너리 매개변수
def 함수(*가변, **딕셔너리):  #
  print(가변, 딕셔너리)

함수("안", "녕", "하", 10,20 )

In [ ]:
# #리턴을 이용한 함수 활용  #### 외워라 형태를
# def sum_all(start, end):
#   output = 34
#   for i in range(start, end + 1):
#     output2 = output + i
#   return output

# print(sum_all(1,100))

# # print(output) 이렇게 작성해도 된다.
# # sum_all(1,10)

In [ ]:
#확인문제 1-1
def f(x):
  return 2 * x + 1

print(f(10))

In [ ]:
#확인문제 1-2
def f(x):
  return x ** 2 + 2 * x + 1

print(f(10))

In [ ]:
#확인문제 2
def mul(*values):
  # output = 2  # 마지막 정리 초기값은 그냥 초기값이다. 
  for i in values:
    output = 1
    output = output * i
  return output

print(mul(1,2,3,4))

In [ ]:
# while 반복문 > for 반복문
i = 0    # 왜 변수 초기값은 밖에다 둬야 하는걸까? 한번만 기여하기 때문인거라서? 한번 먹고 버리기위해?
while i <= 10:
  print(f"{i}번째 반복입니다.")
  i += 1

In [ ]:
# 예제를 외우기
a = [1,2,1,2]
value = 2
while value in a:
  a.remove(value)

print(a)

[1, 1]

In [ ]:
# while 반복문 응용.
# 1970년 1월 1일 0시 0분 0초
import time

시작시간 = time.time()
현재시간 = time.time()

while 현재시간 < 시작시간 + 5:
  print(현재시간, 시작시간 + 5)
  현재시간 = time.time()

In [ ]:
# break 키워드
# 조건이 만족하면 반복문 전체를 벗어날때 사용하는 구문
i = 0
while True:
  print(f"{i}번째 반복입니다.")
  i += 1
  a = input(">종료하시겠습니까?(y/n): ")
  if a in ["y", "Y"]:
    print("반복문을 종료합니다.")
    break

0번째 반복입니다.
>종료하시겠습니까?(y/n): y
반복문을 종료합니다.

In [ ]:
# continue 키워드는 대개 웃긴게 조건이 만족하면 다시 for문으로 돌아간다. 조건이 안맞으면 다음줄 코드로 넘어감.
# 현재 반복을 넘어갈때 사용하는 구분
numbers = [5,15,6,20,7,25]

for i in numbers:
  if i >= 10:
    continue
  if i < 10:
    print(i)

5
6
7

# Chapter 08 클래스

In [ ]:
객체
추상화: 프로그램에서 필요한 요소만을 사용해서 객체를 표현하는 것.

In [ ]:
#딕셔너리로 객체 만들기

# 학생 리스트를 선언합니다.

students = [{"name": "윤인성", "korean": 87, "math": 98, "english":88, "science": 95}, 
            {"name": "연하진", "korean": 92, "math": 98, "english":96, "science": 98}, 
            {"name": "구지연", "korean": 92, "math": 98, "english":96, "science": 98}, 
            {"name": "나선주", "korean": 92, "math": 98, "english":96, "science": 98},
            {"name": "윤아린", "korean": 92, "math": 98, "english":96, "science": 98},
            {"name": "윤명월", "korean": 92, "math": 98, "english":96, "science": 98}]

# 학생을 한명씩 반복합니다.

print("이름", "총점", "평균", sep="\t")
for student in students:
    score_sum = student["korean"] + student["math"] + student["english"] + student["science"]

    score_average = score_sum / 4

    print(student["name"], score_sum, score_average, sep="\t")

이름	총점	평균
윤인성	368	92.0
연하진	384	96.0
구지연	384	96.0
나선주	384	96.0
윤아린	384	96.0
윤명월	384	96.0

In [ ]:
# 객체를 만드는 함수(1)

def create_student(name, korean, math, english, science):
    return {"name": name, "korean": korean, "math": math, "english": english, "science": science }

students = [create_student("윤인성", 87, 98, 88, 95),
            create_student("연하진", 87, 98, 88, 95),
            create_student("구지연", 87, 98, 88, 95),
            create_student("나선주", 87, 98, 88, 95),
            create_student("윤아린", 87, 98, 88, 95),
            create_student("윤명월", 87, 98, 88, 95),
            ]

In [ ]:
# 클래스가 필요한 이유 : 힌트는 객체지향
# 객체를 만드는 함수(2)

def create_student(name, korean, math, english, science):
    return {"name": name, "korean": korean, "math": math, "english": english, "science": science }

def student_get_sum(student):
    return student["korean"] + student["math"] + student["english"] + student["science"]

def student_get_average(student):
    return student_get_sum(student)/4

def student_to_string(student):
    return "{}\t{}\t{}".format(student["name"], student_get_sum(student), student_get_average(student))


students = [create_student("윤인성", 87, 98, 88, 95),
            create_student("연하진", 87, 98, 88, 95),
            create_student("구지연", 87, 98, 88, 95),
            create_student("나선주", 87, 98, 88, 95),
            create_student("윤아린", 87, 98, 88, 95),
            create_student("윤명월", 87, 98, 88, 95),
            ]


print("이름", "총점", "평균", sep="\t")
for student in students:
    print(student_to_string(student))

이름	총점	평균
윤인성	368	92.0
연하진	368	92.0
구지연	368	92.0
나선주	368	92.0
윤아린	368	92.0
윤명월	368	92.0

In [ ]:
# 클래스 선언하기
class Student:
    pass

student = student()

student = [Student(),
           Student(),
           Student(),
           Student(),
           Student(),
           Student()]

In [ ]:
# 생성자 개념

class Student:
    def __init__(self, name, korean, math, english, science):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science

students = [Student("윤인성", 87, 98, 88, 95),
            Student("연하진", 87, 98, 88, 95),
            Student("구지연", 87, 98, 88, 95),
            Student("나선주", 87, 98, 88, 95),
            Student("윤아린", 87, 98, 88, 95),
            Student("윤명월", 87, 98, 88, 95),
            ]

students[0].name
students[0].korean
students[0].math
students[0].english
students[0].science

95

In [ ]:
# 클래스 내부에 함수(메소트) 선언하기
class Student:
    def __init__(self, name, korean, math, english, science):
        self.name = name
        self.korean = korean
        self.math = math
        self.englsih = english
        self.science = science

    def get_sum(self):
        return self.korean + self.math + self.englsih + self.science

    def get_average(self):
        return self.get_sum() / 4

    def to_string(self):
        return "{}\t{}\t{}".format(self.name, self.get_sum(), self.get_average())  # 중요개념 student["name"] == self.name


students = [Student("윤인성", 87, 98, 88, 95),
            Student("연하진", 87, 98, 88, 95),
            Student("구지연", 87, 98, 88, 95),
            Student("나선주", 87, 98, 88, 95),
            Student("윤아린", 87, 98, 88, 95),
            Student("윤명월", 87, 98, 88, 95),
            ]



print("이름", "총점", "평균", sep="\t")
for student in students:
    print(student.to_string())

이름	총점	평균
윤인성	368	92.0
연하진	368	92.0
구지연	368	92.0
나선주	368	92.0
윤아린	368	92.0
윤명월	368	92.0

In [ ]:
# 소멸자

class Test:
    def __init__(self, name):
        self.name = name
        print("{} - 생성되었습니다.". format(self.name))
    def __del__(self):
        print("{} - 파괴되었습니다.". format(self.name))
    
test = Test("A")

A - 생성되었습니다.

In [ ]:
# 어떤 클래스의 인스턴스인지 확인하기

class Student:
    def __init__(self):
        pass

student = Student()

print("isinstance(student, Student):", isinstance(student, Student))

# student는 Student 클래스를 기반으로 만들었으므로 True를 출력한다.

isinstance(student, Student): True

In [ ]:
# 단순한 인스턴스 확인

type(student) == Student

True

In [ ]:
# isinstance() 함수와 type() 함수로 확인하는 것의 차이

class Human:
    def __init__(self):
        pass
    
class Student(Human):
    def __init__(self):
        pass

student = Student()

print("isinstance(student, Human):", isinstance(student, Human))
print("type(student) == Human:", type(student) == Human)

# type() 함수는 상속관계를 확인하지 못한다.

isinstance(student, Human): True
type(student) == Human: False

In [ ]:
# isinstance()함수 활용

class Student:
    def study(self):